body {
    background: #fff;
    color: #000;
    }
    
    .contentwrapper {
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        max-width: 1400px;
        margin-top: 120px;
    }
    
    
    
    .headline1 {
        font-size: 64px;
        display: flex;
        justify-content: start;
        width: 100%;
        align-self: center;
        margin: 0;
        font-weight: bold;
    }
    
    .headline2 {
        font-size: 48px;
        margin: 0;
        margin-bottom: 24px;
    }
    
    h3 {
        margin: 0px;
        font-weight: normal;
        
    }
    
    label {
        font-size: 16px;
        color: #807E7C;
    }
    
    .carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .carousel-buttons {
        margin-top: 10px;
        width: 100%;
      }
      
      .carousel-button {
        padding: 8px 12px;
        margin: 24px 0px;
        margin-right: 16px;
        font-weight: normal;
        border: 1px solid #807E7C;
        font-size: 16px;
        font-weight: lighter;
        border-radius: 120px;
    
      }
      
      .carousel-button.active {
        background-color: black;
        border: 1px solid black;
        color: white;
         
      }
      
      .carousel-item {
        display:none;
      }
      
      .carousel-item.active {
        border: 1px solid #ccc;
        flex-direction: row;
        padding: 20px;
        display: flex;
        align-items: flex-end;
      }
    
      #carousel-content {
        width: 100%;
      }
    
      .left-side {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-right: 40px;
      }
    
      .bild {
        margin-bottom: 24px;
      }

      .nameheadline {
        font-size: 48px;
        margin: 0;
        margin-bottom:24px
      }

      .carousel2-item {
        display: block;
        padding: none;
        margin-top: 24px;
      }
    
      .Tags {
        width: 25%;
        background-color: #E9F1F5;
        border-radius: 24px;
        padding: 24px;
        margin-right: 24px;
        box-shadow: 10px 3px solid #000;
      }
    
      .left-side2 {
        display: flex;
        flex-direction: wrap;
      }
    
      h4 {
        margin: 0;
        font-size: 32px;
        font-weight: bold;
      }